/*底部*/

.footer {
	z-index: -1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2b3442;
	color: #a4b3cd;
}

.contact-me {
	text-align: center;
	margin: 60px auto;
	width: 70%;
	position: relative;
}

.contact-title {
	font-size: 50px;
	padding-bottom: 80px;
}

.contact-item {
	display: inline-block;
	float: left;
	width: 33.3%;
}

.contact-item>div {
	float: left;
	line-height: 50px;
	letter-spacing: 1px;
}

.contact-item>span {
	float: left;
/*	margin: 0 auto;*/
	display: inline-block;
	width: 50px;
	height: 50px;
}

/*底部联系图标*/
/*微信*/
.wechat {
	position: relative;
	display: block;
	width: 27px;
	height: 22px;
	border-radius: 50%;
	background-color: #a4b3cd;
	top: 13px;
	left: 9px;
	transition: all .5s ease-out;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
}

.wechat:after {
	content: "";
	width: 21px;
	height: 17px;
	border-radius: 50%;
	background-color: #a4b3cd;
	position: absolute;
	top: 8px;
	left: 11px;
	border: 1px solid #2a2e35;
	-webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.wechat>span:before {
	content: "";
	border-width: 6px 3px;
	border-style: solid;
	border-color: #a4b3cd transparent transparent transparent;
	position: absolute;
	top: 3px;
	left: -26px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.wechat>span:after {
	content: "";
	border-width: 4px 2px;
	border-style: solid;
	border-color: #a4b3cd transparent transparent transparent;
	position: absolute;
	top: 10px;
	left: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.wechat>span {
	position: absolute;
	width: 3px;
	height: 3px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #2a2e35;
	top: 13px;
	left: 24px;
	z-index: 2;
	box-shadow: -7px 0px #2a2e35, -18px -9px 0 0px #2a2e35, -7px -9px 0px 0px #2a2e35;
}

.wechat:before {
	content: "";
	background: url(../img/code.png);
	background-size: cover;
	position: absolute;
	left: 40px;
	bottom: 30px;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 1%;
	border-radius: 1%;
	-webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
	opacity: 0;
	border: 1px solid #a4b3cd;
	transition: all .4s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
	visibility: hidden;
}

.contact-item:hover .wechat:before {
	opacity: 1;
	visibility: visible;
}
/*邮箱*/
.mail {
	top: 15px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	width: 30px;
	height: 20px;
	border: 1px solid #a4b3cd;
	overflow: hidden;
	-webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.mail:before {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #a4b3cd;
	top: 7px;
	left: 14px;
}

.mail:after {
	top: -8px;
	left: 7px;
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #a4b3cd;
	-ms-transform: rotate(50deg) skew(-10deg, -20deg);
	-webkit-transform: rotate(50deg) skew(-10deg, -20deg);
	transform: rotate(50deg) skew(-10deg, -20deg);
}
/*手机*/
.tel {
	top: 7px;
	position: relative;
	display: inline-block;
	width: 19px;
	height: 30px;
	border-radius: 16px/3px;
	border: 1px solid #a4b3cd;
	border-bottom: 4px solid #a4b3cd;
	border-top: 4px solid #a4b3cd;
	-webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
}

.tel:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #2a2e35;
	top: 31px;
	left: 9px;
}

.footer-bottom {
	text-align: center;
	line-height: 40px;

	border-top: solid 1px #3D414E;
}

.resume-download {
	top: 3px;
	position: relative;
	margin-left: 20px;
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #a4b3cd;
	transition: all .3s ease-out;
	border-radius: 50%;
}

.resume-download:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 3px;
	left: 5px;
	background-color: #a4b3cd;
	transition: all .3s ease-out;
}

.resume-download:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top: 5px solid #a4b3cd;
	top: 7px;
	left: 3px;
	transition: all .3s ease-out;
}

.resume-download:hover {
	border: 1px solid #f7b2a1;
}

.resume-download:hover:before {
	background-color: #f7b2a1;
}

.resume-download:hover:after {
	border-top: 5px solid #f7b2a1;
}


.resume-download div {
	position: absolute;
	left: -110px;
	transition: all .5s ease;
	opacity: 0;
	background-color: rgba(0, 0, 0, .2);
	font-size: 14px;
	padding: 0 15px;
	border-radius: 2px;
	color: #a4b3cd;
	bottom: 40px;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
	-ms-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}
.resume-download:hover div {
	bottom: 20px;
	opacity: 1;
}