/*作品*/

.works-wraper {
	background: url("../img/backgroud.png") repeat;
	background-color: #eee;
}

.works-content {
	z-index: 2;
	border-radius: 4px;
	/*	top: 20%;*/
	text-align: left;
	/*	left: 0;*/
	overflow: hidden;
	position: relative;
	width: 45%;
	opacity: 0;
	background: #fff;
	/*-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
box-shadow: 0 2px 10px rgba(0,0,0,0.2);*/
	margin: 0 auto;
	padding: 2%;
	transition: all 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}



.works-content p {
	color: #666;
	line-height: 1.8;
	font-size: 14px;
}

.works-content a {
	text-decoration: underline;
}

.works-content.works-content-on {
	opacity: 1;
}

.works-content.works-content-on:hover {
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
	box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}

.works-item {
	/*width: 100%;*/
	/*height:500px;*/
	padding: 70px 0;
	/*background-color: #fff;*/
	position: relative;
	/*margin: 0 auto;*/
}

.works-point {
	opacity: 0;
	left: -16px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 9px solid rgba(0, 0, 0, .1);
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	transition: all 1s;
	-webkit-box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.16);
}

.works-point span {
	/*border-radius: 3px;
padding: 0px 10px;
top: -1px;*/
	/*	font-size: 16px;*/
	top: -5px;
	width: 200%;
	color: #2a2e35;
	line-height: 26px;
	left: 200%;
	/*	content: "";*/
	position: absolute;
}


/*.works-point:after{
top: 43%;
content: "";
width: 4px;
height: 4px;
border-radius: 50%;
background-color: #fff;
position: absolute;
left: 44%;
}*/


/*
.works-item:nth-child(1) .works-point:before {
	content: "至今";
}

.works-item:nth-child(2) .works-point:before {
	content: "至今";
}

.works-item:nth-child(3) .works-point:before {
	content: "2017.01";
}

.works-item:nth-child(4) .works-point:before {
	content: "2017.01";
}
.works-item:nth-child(5) .works-point:before {
	content: "2016.12";
}
.works-item:nth-child(6) .works-point:before {
	content: "2016.12";
}
.works-item:nth-child(7) .works-point:before {
	content: "2016.12";
}
.works-item:nth-child(8) .works-point:before {
	content: "2016.12";
}
.works-item:nth-child(9) .works-point:before {
	content: "2016.12";
}*/

.works-timeline {
	z-index: 0;
	top: 0;
	left: 50%;
	position: absolute;
	width: 2px;
	background-color: #2b3442;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
	height: 0;
	/*left: 44px;*/
	transition: all .5s ease 1s;
}
/*
.works-title {
	background-color: #2b3442;
		height: 100%;
		overflow: hidden;
	padding: 12px;
	color: #fff;
}
*/

.works-link {
	display: block;
	position: relative;
	padding: 12px;
	/*	
	line-height: 1.8;
	font-size: 14px;*/
}

.works-link:before {
	content: "";
	top: 17px;
	left: 5px;
	position: absolute;
	width: 18px;
	height: 1px;
	background-color: #666666;
}

.works-link:after {
	content: "";
	/*	left: 6px;*/
	position: absolute;
	width: 9px;
	height: 9px;
	border: 1px solid #666666;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	transform: rotate(45deg);
}
/*
.works-tags span:before {
	content: "";
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: #000;
	position: absolute;
	top: 45%;
	left: 10%;
	transition: all .6s;
}
*/
/*
.works-tags span {
	position: relative;
	background-color: #fff;
	color: #000;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
	color: #FFFFE0;
	padding: 3px 20px;
	line-height: 40px;
	font-size: 14px;
	transition: all 1s;
}
*/

/*
.works-tags {}
*/

/*.works-tags span:hover {
	background-color: #222a36;
	color: #fff;
}

.works-tags span:hover:before {
	background-color: #fff;
}
*/

/*回到顶部*/

.to-top {
	opacity: 0;
	top: 85%;
	right: 2%;
	visibility: hidden;
	position: fixed;
	width: 50px;
	height: 30px;
	background: rgba(0, 0, 0, .3);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	z-index: 3;
	transition: all .5s ease-out;
	-webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.16);
}

.to-top.to-top-on {
	visibility: visible;
	opacity: 1;
}

.to-top:hover {
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.to-top:before {
	content: "";
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	top: 12px;
	left: 15px;
	border: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
}
