/*css reset*/
html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, i, dl, dt, dd, ol, ul, li, dl, dd, dt, label, blockquote, input, button{
margin: 0;
padding: 0;
}
li{
list-style: none;
}
a{
text-decoration: none;
color: #fff
}
img{
border: none;
}
.cf{
zoom: 1;
}
.cf:after{
content: "";
display: block;
clear: both;
}
html{
font-size:62.5%;
}
body{
color: #FFFFF0;
font-family: "arial","HanHei SC";
text-shadow: 3px 3px 3px rgba(0,0,0,0.36);
font-size:16px;
font-size:1.6rem ;
/*将来适配字体响应式*/
}
::selection {
background: #636363;
color:#fff;
}
.fuck_ie{
background: #2a2a2a;
}
@media screen and (min-width: 1280px) {
.edu>div>div{
float: left;
}
}
@media screen and (max-width: 1279px){
.edu>div>div{
line-height: 32px;
}
.col_left{
width: 100% !important;
}
.col_right{
width: 75% !important;
}
.col_e{
width: 25% !important;
}
.col_e .myskills {
width: 99% !important;
margin-top: 2% !important;
padding-bottom: 200% !important;
}
.contact_out {
width: 100%;
display: inline-block;
}
.wraper {
width: 100% !important;
}
.demo{
width: 70% !important;
}
}
@media screen and (max-width: 1080px){
.col_left{
width: 100% !important;
}
.col_right{
width: 75% !important;
}
.col_e{
width: 25% !important;
}
.edu{
display: none;
}
.contact_out {
width: 100%;
display: inline-block;
}
.wraper {
width: 100% !important;
}
.demo{
width: 70% !important;
}
}
@media screen and (max-width: 860px){
#header .download{
display: none !important;
}
.viewme{
float: right !important;
}
}
/*loading动画，网速差时缓冲，虽然没什么用*/
#loading {
display: none;
font-size: 15px;
width: 1em;
height: 1em;
border-radius: 50%;
margin: 300px auto;
box-shadow: 0 -2em rgba(99, 99, 99, 1), 1.414em -1.414em rgba(99, 99, 99, 0.875), 2em 0 rgba(99, 99, 99, 0.75), 1.414em 1.414em rgba(99, 99, 99, 0.625), 0 2em rgba(99, 99, 99, 0.5), -1.414em 1.414em rgba(99, 99, 99, 0.375), -2em 0 rgba(99, 99, 99, 0.25), -1.414em -1.414em rgba(99, 99, 99, 0.125);
-ms-animation: rotate 1s infinite forwards steps(8, end);
-webkit-animation: rotate 1s infinite forwards steps(8, end);
animation: rotate 1s infinite forwards steps(8, end);
}
@-webkit-keyframes rotate {
100% {
-webkit-transform: rotate(360deg);
}
}
@keyframes rotate {
100% {
transform: rotate(360deg);
}
}
/*头部*/
.header_on{
top: 0 !important;
}
#header{
z-index: 2;
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
background-color: #333;
position: fixed;
transition: all 1s;
top:-100%;
width: 100%;
font-size: 16px;
}
#header span{
position: relative;
margin: 10px 15px;
float: left;
}
.me{
display: block;
width: 50px;
height: 50px;
background-color: #4A4949;
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
border-radius: 50%;
color: #ef6443;
border:2px solid #636363;
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}
.me img{
width: 100%;
}
.name{
line-height: 32px;
}
.job {
line-height: 54px;
}
.loc{
line-height: 54px;
padding-left: 25px;
}
.loc:before{
content: "";
position: absolute;
width: 10px;
height: 10px;
border: 2px solid #fff;
background-color: #636363;
border-radius: 50%;
top: 17px;
left: 2px;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.loc:after{
content: "";
position: absolute;
width: 0;
height: 0;
border: 4px solid transparent;
border-top: 6px solid #fff;
top: 29px;
left: 5px;
}
.viewme{
position: relative;
line-height: 54px;
}
.viewme div{
}
#view{
transition: all .5s;
}
#view:hover{
cursor: pointer;
color: #fff;
}
.viewme span{
position: relative;
display: inline-block;
background-color: #4A4949;
width: 16px;
height: 16px;
border-radius: 50%;
top: 8px;
left: 5px;
border: 2px solid #fff;
-webkit-animation: ball 2s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
animation: ball 2s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
@-webkit-keyframes ball {
0% {
-webkit-transform: scale(0.1);
transform: scale(0.1);
opacity: 1; }
70% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 0.7; }
100% {
opacity: 0.0; }
}
@keyframes ball {
0% {
-webkit-transform: scale(0.1);
transform: scale(0.1);
opacity: 1; }
70% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 0.7; }
100% {
opacity: 0.0; }
}
.edu{
line-height: 54px;
-webkit-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
transition: all .3s ease-out;
}
.viewme:hover #view{
color: #455a64;
}
.viewme:hover .hehe{
opacity: 1;
filter: alpha(opacity=100);
bottom: -100%;
}
.edu:hover .hehe{
opacity: 1;
filter: alpha(opacity=100);
bottom: -100%;
}
.hehe{
-webkit-transform: translateZ(0);
transform: translateZ(0);
left: 25%;
transition: all .5s ease;
opacity: 0;
filter: alpha(opacity=0);
background-color: #333;
font-size: 12px;
position: absolute;
padding: 0 15px;
border-radius: 3px;
color: #fff;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
bottom: 100%;
-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
-ms-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
}
.hehe:after{
content: "";
border: 9px solid transparent;
border-bottom: 9px solid #333;
position: absolute;
bottom: 100%;
left: 80%;
}
#header .download{
margin-top: 30px;
margin-left: 10px;
display: inline-block;
width: 16px;
height: 16px;
position: relative;
border: 1px solid #fff;
transition: all .3s ease-out;
border-radius: 50%;
}
.download:before{
content: "";
position: absolute;
width: 4px;
height: 4px;
top: 4px;
left: 6px;
background-color: #fff;
transition: all .3s ease-out;
}
.download:after{
content: "";
position: absolute;
width: 0;
height: 0;
border: 4px solid transparent;
border-top: 5px solid #fff;
top: 8px;
left: 4px;
transition: all .3s ease-out;
}
.download:hover {
border: 1px solid #d32f2f;
}
.download:hover:before{
background-color: #d32f2f;
}
.download:hover:after{
border-top: 5px solid #d32f2f;
}
.download:hover div{
top:20px;
opacity: 1;
filter: alpha(opacity=100);
}
.download div{
position: absolute;
-webkit-transform: translateZ(0);
transform: translateZ(0);
left: -110px;
transition: all .5s ease;
opacity: 0;
filter: alpha(opacity=0);
background-color: #333;
font-size: 14px;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
padding: 15px;
border-radius: 3px;
color: #fff;
top: -70px;
-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
-ms-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
}
.button:hover{
padding:0 40px;
}
.button.b_on{
opacity: 1;
}
.button {
opacity: 0;
display: inline-block;
margin-top: 100px;
background: #333;
text-align: center;
color: #FFFFE0;
padding: 0 25px;
height: 50px;
font-size: 25px;
line-height: 50px;
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
border-radius: 3px;
z-index: 1;
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.container{
overflow: hidden;
width: 94%;
margin: 0 auto;
padding: 35px 0;
}
/*技能*/
.myskills span{
font-weight: bold;
}
.myskills_out{
opacity: 0;
filter: alpha(opacity=0);
}
.myskills{
float: left;
position: relative;
height: 0;
overflow: hidden;
-webkit-border-radius: 4px;
border-radius: 4px;
background-color: #333;
-webkit-box-shadow: 0 1px 11px 1px rgba(0,0,0,0.18);
box-shadow: 0 1px 11px 1px rgba(0,0,0,0.18);
transition: all 0.2s ease-in;
}
.myskills>div{
text-shadow: 1px 1px 1px #000;
line-height: 30px;
color: #fff;
font-size: 16px;
padding: 10px;
}
.skills_on{
opacity: 1;
filter: alpha(opacity=100);
}
.myskills:hover {
-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.31);
-webkit-transform: translateY(-4px);
-ms-transform: translateY(-4px);
transform: translateY(-4px);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
.col_left .myskills_out:nth-child(1){
transition:all 1s 1.3s;
}
.col_left .myskills_out:nth-child(1) .myskills{
width: 39%;
}
.col_left .myskills_out:nth-child(2){
transition:opacity 1.5s 1.8s;
}
.col_left .myskills_out:nth-child(2) .myskills{
width: 39%;
}
.col_left .myskills_out:nth-child(3){
transition:opacity 2s ;
}
.col_left .myskills_out:nth-child(4){
transition:opacity 2s 2.3s;
}
.col_left .myskills_out:nth-child(4) .myskills{
width: 39%;
}
.col_left .myskills_out:nth-child(5){
transition:opacity 1.4s 0.9s;
}
.col_left .myskills_out:nth-child(5) .myskills{
width: 39%;
}
.col_left .myskills_out:nth-child(6){
transition:opacity 2s 2s;
}
.col_right.myskills_out:nth-child(1){
transition:opacity 2s 1.9s;
}
.col_right .myskills_out:nth-child(2){
transition:opacity 1.8s 1.3s;
}
.col_right.myskills_out:nth-child(3){
transition:opacity 1.4s 1.5s;
}
.col_right .myskills_out:nth-child(4){
transition:opacity 1.5s 2.3s;
}
.col_right .myskills_out:nth-child(4) .myskills{
width: 65%;
}
.col_right .myskills_out:nth-child(5){
transition:opacity 1.8s 1.9s;
}
.col_right .myskills_out:nth-child(6){
transition:opacity 1.8s 1.8s;
}
.col_e .myskills_out:nth-child(1) .myskills{
padding-bottom: 202%;
}
.col_left{
position: relative;
width: 55.6%;
box-sizing: border-box;
float: left;
}
.col_left .myskills{
width: 19.5%;
padding-bottom: 19.5%;
margin: 0.4%;
}
.col_right{
position: relative;
width:33.3%;
box-sizing: border-box;
float: left;
}
.col_right .myskills{
width: 32%;
padding-bottom: 32.9%;
margin: 0.5%;
}
.col_e{
width: 11.1%;
box-sizing: border-box;
float: left;
}
.col_e .myskills{
width: 100%;
padding-bottom: 100%;
}
/*作品*/
.works{
overflow: hidden;
background-color: #fff;
}
.demo{
border-radius: 4px;
left: 8%;
position: relative;
width: 50%;
opacity: 0;
background-color: #333;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
margin:100px auto;
transition: all .3s;
-webkit-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
.demo.demo_on{
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
.wraper{ width: 80%;
position: relative;
margin: 0 auto;
}
.round{
opacity: 0;
left: 46px;
top: -9%;
width: 26px;
height: 26px;
border-radius: 50%;
border: 3px solid #636363;
background-color: #333;
position: absolute;
transition: all 1s;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.round span{
display: block;
width: 20px;
height: 3px;
background-color: #636363;
position: absolute;
top: 12px;
left: 26px;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.way{
position: absolute;
width: 3px;
background-color: #636363;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
height: 0;
left: 60px;
transition: all .8s ;
}
.hor{
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
background-color: #636363;
position: absolute;
width: 0;
height: 3px;
top: 200px;
left: 60px;
transition: all 1s ease .4s;
}
.round:before {
border-radius: 3px;
padding: 0px 10px;
top: -1px;
border: 2px solid #636363;
font-size: 16px;
color: rgb(152, 162, 174);
line-height: 25px;
left: 170%;
content: "2016.06";
position: absolute
}
.round:after{
top: 45%;
content: "";
width: 4px;
height: 4px;
border-radius: 50%;
background-color: #fff;
position: absolute;
left: 41%;
}
.demo .title{
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
position: absolute;
left: 0;
top: -50px;
background-color: #4A4949;
padding: 7px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size: 18px;
transition:all .3s;
}
.demo .title:hover{
padding: 7px 13px;
background-color: #333;
}
.demo img{
width: 100%;
}
.demo .img_hover{
position: relative;
height: 300px;
overflow: hidden;
}
.demo .img_hover:hover .text{
top: 0;
}
.demo .text{
border-radius: 3px;
box-sizing: border-box;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.9);
padding: 30px;
position: absolute;
transition: top .6s;
top: 105%;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
.tags span:before{
content: "";
height: 4px;
width: 4px;
border-radius: 50%;
background-color: #fff;
position: absolute;
top: 45%;
left: 10%;
transition: all .6s;
}
.tags span{
position: relative;
background-color: #333;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
color: #FFFFE0;
padding: 3px;
padding-left: 20px;
margin-left: 10px;
line-height: 40px;
font-size: 16px;
transition: all 1s;
}
.tags{
border-radius: 4px;
background-color: #333;
}
.tags span:hover{
background-color:#FFFFF0;
color: #000;
}
.tags span:hover:before{
background-color: #000;
}
/*底部*/
.footer{
background-color: #333;
border-top: solid 1px #3c3c42;
color:#FFFFE0;
}
.footer>span{
float: left;
}
.contactme>div:nth-child(1){
font-size: 50px;
padding-bottom: 80px;
letter-spacing: 10px;
}
.contactme{
text-align: center;
margin:80px auto;
width: 60%;
padding:15px 0;
position: relative;
}
.contact_out>div{
float: left;
line-height: 30px;
font-size: 16px;
letter-spacing: 1px;
}
.contact_out>span{
float: left;
margin: 0 auto;
display: inline-block;
width: 60px;
height: 60px;
background: #333;
}
.contact_out{
display: inline-block
}
/*底部联系图标*/
.wechat{
position: relative;
display: block;
width: 27px;
height: 22px;
border-radius: 50%;
background-color: #fff;
top: 3px;
left: 9px;
transition: all .5s ease-out;
-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
}
.wechat:after {
content: "";
width: 21px;
height: 17px;
border-radius: 50%;
background-color: #fff;
position: absolute;
top: 8px;
left: 11px;
border: 1px solid #636363;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.wechat>span:before{
content: "";
border-width: 6px 3px;
border-style: solid;
border-color: #FFF transparent transparent transparent;
position: absolute;
top: 3px;
left: -26px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.wechat>span:after{
content: "";
border-width: 4px 2px;
border-style: solid;
border-color: #FFF transparent transparent transparent;
position: absolute;
top: 10px;
left: 5px;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.wechat>span{
position: absolute;
width: 3px;
height: 3px;
-webkit-border-radius: 50%;
border-radius: 50%;
background-color: #636363;
top: 13px;
left: 24px;
z-index: 2;
box-shadow: -7px 0px #636363, -18px -9px 0 0px #636363, -7px -9px 0px 0px #636363;
}
.wechat:before{
content: "";
background:url(img/mm.png);
position: absolute;
left: 50px;
bottom: 30px;
width: 150px;
height: 150px;
-webkit-border-radius: 1%;
border-radius: 1%;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
opacity:0;
border: 1px solid #636363;
transition: all .4s ease;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
visibility: hidden;
}
.contact_out:hover .wechat:before{
opacity: 1;
visibility: visible;
}
.mail{
border-radius: 2px;
display: inline-block;
position: relative;
width: 30px;
height: 20px;
border: 1px solid #fff;
overflow: hidden;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.mail:before{
content: "";
position: absolute;
width: 3px;
height: 3px;
border-radius: 50%;
background-color: #fff;
top: 7px;
left: 14px;
}
.mail:after{
top: -8px;
left: 7px;
content: "";
position: absolute;
width: 15px;
height: 15px;
border: 1px solid #fff;
-webkit-transform: rotate(50deg) skew(-10deg,-20deg);
transform: rotate(50deg) skew(-10deg,-20deg);
}
.tel{
position: relative;
display: inline-block;
width: 19px;
height: 30px;
border-radius: 16px/3px;
border: 1px solid #fff;
border-bottom: 4px solid #fff;
border-top: 4px solid #fff;
-webkit-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.16);
}
.tel:after{
content: "";
position: absolute;
width: 2px;
height: 2px;
border-radius: 50%;
background-color: #000;
top: 31px;
left: 9px;
}
.copyright{
line-height: 25px;
font-size: 14px;
border-top: solid 1px #3c3c42;
}
.copyright span{
float: right;
padding-right: 30px;
}
/*回到顶部*/
#totop{
top: 70%;
right: 1%;
display: none;
position: fixed;
width: 50px;
height: 30px;
background: #333;
-webkit-border-radius: 2px;
border-radius: 2px;
z-index: 3;
transition: all .5s ease-out;
-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.16);
}
#totop:hover{
background-color: #636363;
cursor: pointer;
}
#totop:before {
content: "";
position: absolute;
display: block;
width: 16px;
height: 16px;
top: 12px;
left: 15px;
border: 1px solid #fff;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
border-bottom: 1px solid transparent;
border-right: 1px solid transparent;
}
/*背景*/
#viewback_up{
content: "";
left: 0;
top: 0;
width: 100%;
height: 0;
position: fixed;
opacity: 0.95;
filter: alpha(opacity=95);
background-color: #000;
z-index: 7;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
transition: all .4s ease;
}
#viewback_down{
content: "";
left: 0;
bottom: 0;
width: 100%;
height: 0;
position: fixed;
opacity: 0.95;
filter: alpha(opacity=95);
background-color: #000;
z-index: 7;
transition: all .4s ease;
-webkit-transform: translateZ(0);
transform: translateZ(0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
.up_off{
height: 50% !important;
}
.down_off{
height: 50% !important;
}
/*关闭按钮*/
#close{
display: none;
position:fixed;
z-index: 9;
top: 5%;
right: 5%;
width: 35px;
height: 35px;
-webkit-border-radius: 50%;
border-radius: 50%;
background-color: transparent;
transition: all 1s;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
#close:before{
box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
background-color: #fff;
content: "";
position: absolute;
width: 2px;
height: 25px;
top: 4px;
left: 17px;
transition: all 1s;
}
#close:after{
box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
background-color: #fff;
content: "";
position: absolute;
width: 25px;
height: 2px;
top: 16px;
left: 5px;
transition: all 1s;
}
#close:hover{
cursor: pointer;
}
/*问题*/
#question_box{
display: none;
position: fixed;
z-index: 10;
}
#question_box>div{
position: fixed;
top: 15%;
z-index: 9;
left: 5%;
transition: all 1s;
}
#question_box.box_on >div:nth-child(1){
-webkit-transform: translateY(0px);
-ms-transform: translateY(0px);
transform: translateY(0px);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
#question_box.box_on>div:nth-child(2){
-webkit-transform: translateY(87px);
-ms-transform: translateY(87px);
transform: translateY(87px);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
#question_box.box_on>div:nth-child(3){
-webkit-transform: translateY(174px);
-ms-transform: translateY(174px);
transform: translateY(174px);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
#question_box.box_on>div:nth-child(4){
-webkit-transform: translateY(261px);
-ms-transform: translateY(261px);
transform: translateY(261px);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
}
#question_box>div:nth-child(1){
z-index: 13;
}
#question_box>div:nth-child(2){
z-index: 12;
}
#question_box>div:nth-child(3){
z-index: 11;
}
#question_box>div:nth-child(4){
z-index: 10;
}
#question_box.box_on .question.que_on{
opacity: 1;
filter: alpha(opacity=100);
}
#question_box .question{
opacity: 0;
filter: alpha(opacity=0);
padding: 5px 30px;
margin-left: 30px;
display: inline-block;
color: #000;
border-radius: 3px;
box-sizing: border-box;
font-size: 20px;
-webkit-box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
transition: all .5s ease;
background-color: #fff;
font-weight: bold;
}
#question_box .question:hover, #question_box .question.hover{
padding: 5px 30px 5px 80px;
-webkit-box-shadow: 0px 0px 9px 5px rgba(256,255,256,0.36);
box-shadow: 0px 0px 9px 5px rgba(256,255,256,0.36);
background-color:#ed5565;
color: #fff;
cursor: pointer;
}
#question_box span {
color: #000;
font-size: 27px;
text-align: center;
box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
display: inline-block;
width: 33px;
height: 33px;
background: #fff;
-webkit-border-radius: 50%;
border-radius: 50%;
transition: all .3s ease;
}
/*回答*/
.answer.ans_on p:nth-child(1){
top: 20%;
opacity: 1;
filter: alpha(opacity=100);
transition: opacity .5s .8s;
}
.answer.ans_on p:nth-child(2){
top: 30%;
opacity: 1;
filter: alpha(opacity=100);
transition: opacity .5s 1.6s;
}
.answer.ans_on p:nth-child(3){
top: 40%;
opacity: 1;
filter: alpha(opacity=100);
transition: opacity .5s 2.4s;
}
.answer.ans_on p:nth-child(4){
top: 50%;
opacity: 1;
filter: alpha(opacity=100);
transition: opacity .5s 3.2s;
}
.answer p{
right: 5%;
opacity: 0;
filter: alpha(opacity=0);
z-index: 9;
display: inline-block;
padding: 10px;
color: #000;
-webkit-border-radius: 3px;
border-radius: 3px;
background-color:#fff;
position: fixed;
-webkit-box-shadow: 2px 2px 5px 3px rgba(256,255,256,0.26);
box-shadow: 2px 2px 5px 3px rgba(256,255,256,0.26);
}
.hello_bye{
display: none;
position:fixed;
overflow: hidden;
font-size: 50px;
color: #000;
-webkit-border-radius: 55px;
border-radius: 55px;
padding: 10px;
-webkit-box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
box-shadow: 0px 0px 12px 4px rgba(256,255,256,0.26);
background-color: #fff;
top: 40%;
z-index: 9;
left: 50%;
height: 50px;
transition: width 1s;
}
.hello_bye>span{
margin:0 60px;
font-weight: bold;
}
